---
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import PreferencesDialog from "../components/preferences/PreferencesDialog.svelte";
import Base from "./Base.astro";

type Props = {
  title?: string;
}

const { title } = Astro.props as Props;
---

<Base title={title ?? 'TK Timetable'} class="flex flex-col dark:bg-surface-dark dark:text-gray-200" >
  <Header />
  <main class="flex-grow">
    <slot />
  </main>
  <Footer />
  <PreferencesDialog client:idle />
</Base>

<script>
  import '/src/components/ThemeListener.ts';
</script>
